process {
    errorStrategy = 'terminate'

    // without pipefail a failing command that feeds a pipe reports its successor's exit status
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: process_single {
        cpus   = 1
        memory = 2.GB
        time   = 15.m
    }
    withLabel: process_high_memory {
        cpus   = 2
        memory = 32.GB
        time   = 8.h
    }
}
